#
# Add password protection to this file to keep others awarding badges on your behalf (!!)
# Here's a resource to help: http://tools.dynamicdrive.com/password/
# Many hosts have an easy interface to use to protect directories. If so - you can remove this file. It's just here as a hint.
#